rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para la colección de favoritos
    match /favorites/{favoriteId} {
      // Permitir lectura solo si el usuario está autenticado y es el dueño
      allow read: if request.auth != null && 
                     resource.data.userId == request.auth.uid;
      
      // Permitir crear solo si el usuario está autenticado y el userId coincide
      allow create: if request.auth != null && 
                       request.resource.data.userId == request.auth.uid &&
                       request.resource.data.nombre is string &&
                       request.resource.data.customName is string &&
                       request.resource.data.image is string;
      
      // Permitir actualizar solo si es el dueño
      allow update: if request.auth != null && 
                       resource.data.userId == request.auth.uid;
      
      // Permitir eliminar solo si es el dueño
      allow delete: if request.auth != null && 
                       resource.data.userId == request.auth.uid;
    }
  }
}